#topdestinations {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(images/philippines_dot_surigao-2-sugba-lagoon-1.jpg);
  
}
.headline {
  margin-top: 60px;
  text-align: center;
}

.headline h1 {
  font: 42px Barabara;
  margin: 0;
  color: white;
}

.headline p {
  font-size: 18px;
  font-weight: 500;
  margin: 30px auto;
  max-width: 70%;
  text-align: center;
}

.cardset {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; /* Updated: align items to flex-start */
  min-height: 90vh;
  padding: 5%;
  gap: 20px;
  
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #333;
  overflow: hidden;
  border-radius: 10px;
  max-width: 300px;
  min-width: 250px;
  border-radius: 10px;
}

.card img {
  position: relative;
  vertical-align: top;
  max-width: 100%;
  transition: 0.25s ease-in-out;
  
}

.card:hover img {
  transform: scale(1.1);
 
}
.card figcaption, .card p{
  color: black;
  background: #d7d8d8;
  padding: 10px 15px;
  font-weight: 500;
  font-size: 13px;
}

.card h3{
  font: 21px Barabara;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0;
}

