#activities {
  padding-top: 50px;
  background: url(images/whattodo/412540920_1758147501275786_4914511948157555401_n.jpg);
 
}

.cardset {
  padding:3%;
  gap: 30px;
}

#video1 {
  width: 100%;
  height: auto;
}

.headline {
  margin-top: 30px;
}
.card {
  
  border-radius: 24px;
  max-width: 330px;
  min-width: 250px;
}

.card p {
  font-size: 14px;
}